:root {
  --sens-carbon-950: #0c0d0d;
  --sens-carbon-900: #111313;
  --sens-carbon-800: #1a1d1c;
  --sens-carbon-700: #252927;
  --sens-carbon-600: #363b38;
  --sens-alloy-600: #595f5c;
  --sens-alloy-550: #666d69;
  --sens-alloy-500: #747b77;
  --sens-alloy-400: #929995;
  --sens-alloy-300: #b5bbb7;
  --sens-bone-300: #d1cfc8;
  --sens-bone-200: #dddcd5;
  --sens-bone-100: #eceae3;
  --sens-bone-50: #f4f1ea;
  --sens-paper: #fbfaf6;
  --sens-chalk-0: #ffffff;
  --sens-chalk-50: #f7f9f8;
  --sens-chalk-100: #ebeeed;
  --sens-chalk-200: #e1e5e3;
  --sens-chalk-300: #d4d9d6;
  --sens-chalk-400: #bcc2bf;
  --sens-signal-800: #4e700d;
  --sens-signal-700: #78aa12;
  --sens-signal-600: #a9e52d;
  --sens-signal-500: #c7ff4a;
  --sens-signal-200: #e4ffa5;
  --sens-signal-100: #f0ffd0;
  --sens-signal-tint-900: #1a1f16;
  --sens-signal-tint-700: #353e2a;
  --sens-signal-tint-100: #eff7e5;
  --sens-signal-tint-300: #d0e1b6;
  --sens-ice-800: #007082;
  --sens-ice-700: #009bb4;
  --sens-ice-600: #00c9e9;
  --sens-ice-500: #4ee1ff;
  --sens-ice-200: #ccf5ff;
  --sens-ice-100: #e9fbff;
  --sens-ice-tint-900: #131f22;
  --sens-ice-tint-700: #243f45;
  --sens-ice-tint-100: #e2f8fe;
  --sens-ice-tint-300: #ace4f1;
  --sens-iris-800: #665798;
  --sens-iris-700: #836cca;
  --sens-iris-600: #a184f7;
  --sens-iris-500: #b6a2ff;
  --sens-iris-200: #edeaff;
  --sens-iris-100: #f7f5ff;
  --sens-iris-tint-900: #1d1c25;
  --sens-iris-tint-700: #3b374b;
  --sens-iris-tint-100: #f4f1ff;
  --sens-iris-tint-300: #dad2fe;
  --sens-rose-800: #914669;
  --sens-rose-700: #c15588;
  --sens-rose-600: #ed69a8;
  --sens-rose-500: #ff8abe;
  --sens-rose-200: #ffe5ef;
  --sens-rose-100: #fff3f7;
  --sens-rose-tint-900: #241a1e;
  --sens-rose-tint-700: #49333c;
  --sens-rose-tint-100: #ffedf5;
  --sens-rose-tint-300: #fac9dc;
  --sens-success: #43c878;
  --sens-warning: #e7b84b;
  --sens-danger: #e7655f;
  --sens-info: #6fa7d8;
  --sens-success-700: #11733e;
  --sens-warning-700: #895b00;
  --sens-danger-700: #b63132;
  --sens-info-700: #2e6b9c;
  --sens-success-300: #79e29b;
  --sens-warning-300: #f8ce73;
  --sens-danger-300: #fe8b83;
  --sens-info-300: #90c4f2;
  --sens-lang-amber: #d8b24a;
  --sens-lang-azure: #5b8fc9;
  --sens-lang-ember: #d08248;
  --sens-lang-moss: #5aa86f;
  --sens-lang-iris: #9b87c4;
  --sens-lang-stone: #8a918d;
  --sens-wordmark-ratio: 0.21;
}
